.detail-form {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-form>* {
    margin: 16px;
}

button {
    margin: 16px;
}

#studierendenLabel {
    /* float: left; */
    font-size: 2em;
    text-decoration: underline;
    padding-left: 0.5em;
}
#labelContainer {
    margin-top: 16px;
    width: 100%;
    
  }

  #container{
      margin-left:9em;
      margin-top: 9em;
  }