
<mat-sidenav-container>

  <mat-sidenav [(opened)] ="opened">
    <mat-toolbar color="primary">
      <div id="logo">
        <mat-icon>school</mat-icon>
        <span>ILIAS 2.0</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
    <a mat-list-item color="primary" [routerLink]="['/']" (click)="opened=false">Startseite</a>
    <a mat-list-item color="primary" href="https://sgse2021-ilias.westeurope.cloudapp.azure.com/messages/" (click)="log('')">Nachrichten</a>
    <a mat-list-item color="primary" *ngIf = "this.authService.user.getValue().role===2" href="https://sgse2021-ilias.westeurope.cloudapp.azure.com/courses/courses">Kurse</a>
    <a mat-list-item color="primary" *ngIf = "this.authService.user.getValue().role!==2"  href="https://sgse2021-ilias.westeurope.cloudapp.azure.com/resources/" >Kurse</a>
    <a mat-list-item color="primary" *ngIf ="this.authService.user.getValue().role==2"  href="https://sgse2021-ilias.westeurope.cloudapp.azure.com/courses/appointments" >Termine</a>
    <a mat-list-item color="primary" href="https://sgse2021-ilias.westeurope.cloudapp.azure.com/exams/" >Prüfungen</a>

    <a *ngIf ="this.authService.user.getValue().role==2" mat-list-item color="primary"  (click)="opened=false" [routerLink]="['/students']" >Studierende</a>
    <a *ngIf ="this.authService.user.getValue().role==2" mat-list-item color="primary"  (click)="opened=false" [routerLink]="['/lecturers']">Lehrende</a>
    <a mat-list-item color="primary" href="https://sgse2021-ilias.westeurope.cloudapp.azure.com/booking/">Raumbuchung</a>

    <a *ngIf= "this.authService.user.getValue().uid == '-1'" mat-list-item color="primary" [routerLink]="['/login']">Einloggen</a>
    <a *ngIf= "(this.authService.user.getValue().uid != '-1')" mat-list-item color="primary" [routerLink]="['/logout']">Ausloggen</a>
    
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="opened =!opened" >menu</mat-icon>
    </button>
    <span>{{titleService.getTitle()}}</span>
    <span class="example-spacer"></span>
    <div id="userContainer">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon [routerLink]="['/settings']" >account_circle</mat-icon>
    </button>
    <label> {{this.authService.user.getValue().firstname}} {{this.authService.user.getValue().lastname}} </label>
  </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
