mat-sidenav-container{
    height:100%;
}

mat-sidenav {
    width: 200px;
    display:block;
}
.example-spacer {
  flex: 1 1 auto;
}

#user{
    display:block;
}
.mat-icon{
    transform: scale(1.5);
}
#userContainer{
    display:flex;
    flex-direction: column;
  align-items: center;
}

#logo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}