
<mat-sidenav-container>

  <mat-sidenav [(opened)] ="opened">
    <mat-toolbar color="primary">
      <span>ILIAS 2.0</span>
    </mat-toolbar>
    <mat-nav-list>
    <a mat-list-item color="primary">Startseite</a>
    <a mat-list-item color="primary">Nachrichten</a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="opened =!opened" >menu</mat-icon>
    </button>
    <span>Startseite</span>
    <span class="example-spacer"></span>
    <div id="userContainer">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon >account_circle</mat-icon>
    </button>
    <label>Dennis Eller</label>
  </div>
  </mat-toolbar>
  <!-- <ngx-auth-firebaseui-login 
    [registrationEnabled] ="false"
    [providers]="[]"
    [resetPasswordEnabled]="true"
    >
  </ngx-auth-firebaseui-login> -->


  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>

