
<mat-sidenav-container>

  <mat-sidenav [(opened)] ="opened">
    <!-- <mat-sidenav opened mode="side"> -->
    <mat-toolbar color="primary">
      <div id="logo">
        <mat-icon>school</mat-icon>
        <span>ILIAS 2.0</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
    <a mat-list-item color="primary" [routerLink]="['/']" (click)="opened=false">Startseite</a>
    <a mat-list-item color="primary"href="https://www.google.de" (click)="opened=false">Nachrichten</a>
    <a mat-list-item color="primary" (click)="opened=false">Kurse</a>
    <a mat-list-item color="primary" (click)="opened=false">Termine</a>
    <a mat-list-item color="primary"(click)="opened=false" >Prüfungen</a>
    <a mat-list-item color="primary"(click)="opened=false" [routerLink]="['/students']" >Studierende</a>
    <a mat-list-item color="primary"(click)="opened=false" [routerLink]="['/lecturers']">Lehrende</a>
    <a mat-list-item color="primary"(click)="opened=false">Raumbuchung</a>

    <a *ngIf= "this.authService.currentToken.value == null" mat-list-item color="primary" [routerLink]="['/login']">Einloggen</a>
    <a *ngIf= "(this.authService.currentToken.value !== null)" mat-list-item color="primary" (click)="authService.logout()">Ausloggen</a>
    
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="opened =!opened" >menu</mat-icon>
    </button>
    <span>{{titleService.getTitle()}}</span>
    <span class="example-spacer"></span>
    <div id="userContainer">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon [routerLink]="['/settings']" >account_circle</mat-icon>
    </button>
    <label>{{this.authService.displayName.getValue()}}</label>
  </div>
  </mat-toolbar>
  <!-- <ngx-auth-firebaseui-login 
    [registrationEnabled] ="false"
    [providers]="[]"
    [resetPasswordEnabled]="true"
    >
  </ngx-auth-firebaseui-login> -->


  <router-outlet></router-outlet>
{{this.authService.currentToken.value == null| json}}
{{this.authService.displayName.getValue() | json}}