<div id="container">
    <h1>ILIAS 2.0</h1>
        <div id="content">
        ILIAS ist eine leistungsfähige Lernplattform (Learning Management System), die allen Anforderungen gewachsen ist. Seit 2021 nutzen Universitäten, Unternehmen, Schulen und der öffentliche Dienst die integrierten Werkzeuge, um individuelle Lernszenarien und Trainings umzusetzen.
        Die Entwicklung wird von der internationalen ILIAS-Community gesteuert und vom ILIAS-Verein koordiniert. Ein professionelles Netzwerk von Dienstleistern nimmt Anpassungen für Sie vor und bietet Hosting und Schulungen an.
        Jeder kann ILIAS kostenfrei nutzen und die weitere Entwicklung mitgestalten.
        </div>
</div>