<pre>{{student | json}}</pre>
<form class="detail-form" [formGroup]="studentForm">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Grad</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Geschlecht</mat-label>
      <mat-select formControlName="gender">
        <mat-option [value]="gender.MALE">männlich</mat-option>
        <mat-option [value]="gender.FEMALE" >weiblich</mat-option>
        <mat-option [value]="gender.DIVERSE" >divers</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Geburtsdatum</mat-label>
    <!-- #docregion toggle -->
      <input  [matDatepicker]="picker"  matInput formControlName="birthdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <!-- #enddocregion toggle -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label >Vorname</mat-label>
      <input  matInput formControlName="firstname">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Nachname</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Matrikelnummer</mat-label>
      <input  matInput formControlName="matriculationNumber">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fachbereich</mat-label>
      <mat-select formControlName="department"  >     
        <mat-option *ngFor= "let dep of departmentPool" [value]="dep.id">{{dep.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Studiengang</mat-label>
      <input matInput formControlName="course">
    
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Abschluss</mat-label>
      <input  matInput formControlName="studyCourseDegree">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>E-Mail-Adresse</mat-label>
      <input  matInput formControlName="mail">
    </mat-form-field>
  </form>