<div id="container">
  <div id="header"><input type="text"> <button id="btnAddStudent"> Studierenden anlegen</button></div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef> UID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titel </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Nachname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Vorname </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="matriculationNumber">
      <th mat-header-cell *matHeaderCellDef> Matrikelnummer </th>
      <td mat-cell *matCellDef="let element"> {{element.matriculationNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="studyCourse">
      <th mat-header-cell *matHeaderCellDef> Studiengang </th>
      <td mat-cell *matCellDef="let element"> {{element.studyCourse}} </td>
    </ng-container>

    <ng-container matColumnDef="degree">
      <th mat-header-cell *matHeaderCellDef> Abschluss </th>
      <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
    </ng-container>


    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Fachbereich </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>
    

    <!-- Weight Column -->
    
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
    mat-row *matRowDef="let row; columns: displayedColumns"
    [class.demo-row-is-clicked]="clickedRow == row"
    (click) = "clickedRow= row"
    ></tr>
  </table>

  
  <form *ngIf="clickedRow!==null" class="detail-form" [formGroup]="dataForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Grad</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Geschlecht</mat-label>
      <mat-select formControlName="gender">
        <mat-option [value]="gender.MALE">männlich</mat-option>
        <mat-option [value]="gender.FEMALE" >weiblich</mat-option>
        <mat-option [value]="gender.DIVERSE" >divers</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Geburtsdatum</mat-label>
    <!-- #docregion toggle -->
      <input matInput [matDatepicker]="picker" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <!-- #enddocregion toggle -->
    </mat-form-field>
      

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label >Vorname</mat-label>
      <input [value]="clickedRow?.firstname" matInput formControlName="firstname">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Nachname</mat-label>
      <input [value]="clickedRow?.lastname" matInput formControlName="lastname">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Matrikelnummer</mat-label>
      <input [value]="clickedRow?.matriculationNumber" matInput formControlName="matriculationNumber">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Fachbereich</mat-label>
      <input [value]="clickedRow?.studyCourse?.department?.name" matInput formControlName="department">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone"> 
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>E-Mail-Adresse</mat-label>
      <input matInput formControlName="mail">
    </mat-form-field>
    <button mat-raised-button color="primary">Änderungen speichern</button>
    <button mat-raised-button>Studierenden entfernen</button>

  </form>


</div>