<div id="container">
  <div id="header">
      <mat-form-field >
        <input matInput type="text" (keyup)="doFilter($event?.target)" placeholder="Filter">
      </mat-form-field>
      <div></div>
      <button id="btnAddStudent" mat-raised-button color="primary" 
        (click)="openAddStudentDialog()">
        Studierenden anlegen
      </button>
  </div>
  <div id="tableContainer" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort summary="Table of all lecturers">

      <ng-container matColumnDef="uid">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="title">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="matriculationNumber">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Matrikelnummer </th>
        <td mat-cell *matCellDef="let element"> {{element.matriculationNumber}} </td>
      </ng-container>


      <ng-container matColumnDef="course">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Studiengang </th>
        <td mat-cell *matCellDef="let element"> {{element.course.name}} </td>
      </ng-container>

      <ng-container matColumnDef="degree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Abschluss </th>
        <td mat-cell *matCellDef="let element"> {{element.course.degree}} </td>
      </ng-container>


      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fachbereich </th>
        <td mat-cell *matCellDef="let element"> {{element.course.department.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [class.demo-row-is-clicked]="selectedStudentId === row.id" (click)="selectedStudentId = row.id;"></tr>
    </table>



    <mat-paginator lass="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div id="labelContainer">
    <mat-label id="studierendenLabel">Studierendendaten</mat-label>
  </div>
  <app-student-table #table [departmentPool]="departmentPool" [student]="selectedStudent"></app-student-table>


  <div *ngIf="selectedStudent" id="footer">
    <button [disabled]="table?.invalid" mat-raised-button (click)="submitStudentChanges()" color="primary">Änderungen
      speichern</button>
    <button (click)="deleteStudent()" mat-raised-button>Studierenden entfernen</button>
  </div>
</div>