<div id="container">
    <title mat-dialog-title>Lehrenden hinzufügen</title>
    <div id="labelContainer">
      <mat-label id="studierendenLabel">Lehrendendaten</mat-label>
    </div>
    <app-lecturer-table [departmentPool]="departmentPool" [lecturer]=newLecturer #table></app-lecturer-table>
    <div id="footer">
      <button (click)="createLecturer()" id="btnAddStudent" [disabled]="table?.lecturerForm?.invalid" mat-raised-button
        color="primary">Lehrenden hinzufügen</button>
      <button id="btnCancel" mat-raised-button (click)="onNoClick()">Abbrechen</button>
    </div>
  </div>